@using AirlineCompany.Web.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AirFly</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/helpers.css">
    <link rel="stylesheet" href="~/css/style.css">
    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar mb-2" id="probootstrap-navbar" style="background: #31465b;">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">AirFly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="ion-navicon"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="probootstrap-menu">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Reservations" asp-action="Search">Резервирай полет</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Reservations" asp-action="Mine">Моите резервации</a></li>

                        @if (User.IsAdmin())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Администратор
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="AdminUsers" asp-action="Index">
                                            Потребители
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="Destinations" asp-action="Index">
                                            Дестинации
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="Planes" asp-action="Index">
                                            Самолети
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="Flights" asp-action="Index">
                                            Полети
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="AdminReservations" asp-action="Index">
                                            Резервации
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="Flights" asp-action="Index">
                                            Справки
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-controller="ActivityLogs" asp-action="Index">
                                            Журнал на действията
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-danger">Изход</button>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Потвърждение за изтриване</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    Наистина ли искате да изтриете <strong id="deleteItemName">този елемент</strong>?
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post">
                        <button type="button" class="btn btn-secondary" style="color: #fff;" data-bs-dismiss="modal">Отказ</button>
                        <button type="submit" class="btn btn-danger" style="color: #fff;">Изтрий</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleModalLabel">Потвърждение за смяна на роля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    Наистина ли искате да направите <strong id="roleItemName">този елемент</strong> администратор?
                    <strong>След потвърждение, това действие не може да бъде отменено!</strong>
                </div>
                <div class="modal-footer">
                    <form id="roleForm" method="post">
                        <button type="button" class="btn btn-secondary" style="color: #fff;" data-bs-dismiss="modal">Отказ</button>
                        <button type="submit" class="btn btn-warning" style="color: #fff;">Потвърди</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Потвърждение за канселиране на резервация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    Наистина ли искате да канселирате вашата резервация от <strong id="cancelItemName">този елемент</strong>?
                    <strong>След потвърждение, това действие не може да бъде отменено!</strong>
                </div>
                <div class="modal-footer">
                    <form id="cancelForm" method="post">
                        <button type="button" class="btn btn-secondary" style="color: #fff;" data-bs-dismiss="modal">Отказ</button>
                        <button type="submit" class="btn btn-danger" style="color: #fff;">Потвърди</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 10px 100px;">
        <main role="main" class="pb-3" style="margin-top: 8rem;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; AirFly - @DateTime.Now.Year
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2/dist/umd/popper.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous">
    </script>

    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>

    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>

    <script src="~/js/select2.min.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>